{% extends 'admin/base.html' %}
{% block main %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Popisek</th>
                <th>Počet obrázků</th>
                <th>Akce</th>              
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>
                    <a href="/admin/album/{{ item.id }}">
                        {{ item.id }}
                    </a>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.count }}</td>
                <td class="d-flex">
                    <form method="POST" action="/admin/album/{{ item.id }}"><button type="submit" class="btn btn-success pull-left"><i class="fa fa-pencil"></i></button></form>
                    <form method="POST" action="/admin/album/{{ item.id }}/d"><button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash"></i></button></form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}