{% extends 'admin/base.html' %}
{% block main %}
<div class="container">
    <h1>{{ data.id }}</h1>
    <h2>{{ data.name }}</h2>
    <p>{{ data.description }}</p>
    <form action="/admin/image/{{ data.id }}/a" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="album_id" value="{{ data.id }}">
        <div class="form-group">
            <label for="inputFile">Vložte soubor</label>
            <input type="file" name="inputFile" multiple>
        </div>
        <button class="btn btn-primary" type="submit">Odeslat</button>
    </form>
    <div class="row">
        {% for item in data.gallery_image %}
        <div class="col-md-3">
            <div class=" container hoverred">
                <img class="img-thumbnail img" src="{{ item.url }}" alt="">
                <form method="POST" action="/admin/image/{{ item.id }}/d"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}