{% extends 'admin/base.html' %}
{% block main %}
<h1>Editace Článku</h1>
<div class="container">
    <form method="POST" action="/admin/post/{{ data.id}}/e" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Nadpis</label>
          <input value="{{ data.name }}" type="text" class="form-control" name="name" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="content">Obsah</label>
          <textarea name="content" id="editor">{{ data.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Odeslat</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    ClassicEditor
        .create( document.querySelector( '#editor'), {
          alignment: {
            options: [ 'left', 'right' ]
          }
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
{% endblock %}