{% extends 'admin/base.html' %}
{% block main %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Název</th>
                <th>Popisek</th>
                <th>Počet obrázků</th>
                <th>Akce</th>              
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.count }}</td>
                <td><form method="POST" action="/admin/album/{{ item.id }}"><button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}