<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>+420 728 159 444</h3>
                <p>zavolejte mi</p>
            </div>
            <div class="col-md-4">
                <h3>MÁNESOVA 925, HRADEC KRÁLOVÉ</h3>
                <p>stavte se na kafe</p>
            </div>
            <div class="col-md-4">
                <h2>VOJTA@HURYCH.CZ</h2>
                <p>napište mi</p>
            </div>
        </div>
    </div>
</footer>