{% extends 'base.html' %}
{% block main %}
<main>
    <div class="cotnainer">
        <h1>ZACHYTÍM VÁŠ PŘÍBĚH, JSEM...</h1>
    </div>
</main>

<section class="data">
    <div class="container"></div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <img src="http://hurych.cz/www/img/muj-pribeh.jpg" alt="">
            </div>
            <div class="col-md-6 right">
                <h3>O MNĚ</h3>
                <p>Jsem fotograf, který zahořel láskou k lidským příběhům. Fotím, abych vyprávěl. Vyprávím, abych dělal radost.</p>
                <button class="btn btn-primary">Můj příběh</button>
            </div>
        </div>
    </div>
</section>

<section class="slogan">
    <div class="container">
        <h1>Chcete mít fotky,který budou jiný kafe?</h1>
        <button class="btn btn-primary btn-big">Zarezervujte si termín</button>
    </div>
</section>

<section class="photo">
    <div class="container">
        <h1>TRIKY NETAJÍM, O VŠE SE RÁD PODĚLÍM</h1>
        <p>Proto pro zájemce o svět veselek pilně připravuju hutný svatební workshop.</p>

        <input type="text" placeholder="Váš e-mail">

        <button class="btn btn-primary btn-big">Dej mi vědět, až bude termín</button>
    </div>
</section>
{% endblock %}